<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input
    name="name"
    type="text"
    class="form-control"
    id="contactFormName"
  />
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input
    name="email"
    type="email"
    class="form-control"
    id="contactFormEmail" 
  />
</div>
<div class="mb-3">
  <label for="message" class="form-label">Your message</label>
  <textarea
  name="emailMessage"
    class="form-control"
    id="contactFormMessage"
    rows="6"
  ></textarea>
</div>
<button type="button" class="btn btn-primary">Send</button>
