<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CryptoTracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a <% if (page_name === 'home') { %>
            class="nav-link active" aria-current="page"
            <%} else { %>
                class="nav-link" 
            <% } %>
             href="./">Home</a>
        </li>
        <li class="nav-item">
          <a <% if (page_name === 'about') { %>
            class="nav-link active" aria-current="page"
            <%} else { %>
                class="nav-link"
            <% } %>
             href="about">About</a>
        </li>
        <li class="nav-item">
          <a <% if (page_name === 'contact') { %>
            class="nav-link active" aria-current="page"
            <%} else { %>
                class="nav-link"
            <% } %>
             href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
