<%- include ("partials/head") %> <%- include ("partials/nav") %>
<div class="container">
  <h1 class="display-1 my-5 text-center">Stay in touch! 👋</h1>
  <div class="row">
    <div class="col col-12 col-lg-6">
      <img
        class="contact--img img-fluid d-none d-lg-inline"
        src="public/images/contact-us.svg"
        alt="contact us"
      />
    </div>
    <div class="col col-12 col-lg-6">
      <%- include("partials/contactForm") %>
    </div>
  </div>
</div>
<%- include ("partials/footer") %>
