* {
  color: #e4e4e4;
}
body {
  background: #212529;
  color: white;
}
.navbar--logo {
  height: 80px;
}
.container--header {
  text-align: center;
  margin: 1em 0;
  font-size: 36px;
}
.container--getmore {
  text-align: center !important;
  color: white;
}
.table {
  table-layout: fixed;
  margin-top: 2em;
}

.table--th {
  border-bottom: none;
}
.table--row {
  border-top: 1px solid #40424e;
  border-bottom: 1px solid #40424e;
}
.table--td {
}
.table--change__green {
  color: green;
}
.table--change__red {
  color: red;
}
.crypto--img {
  margin-right: 1em;
  width: 24px;
  height: 24px;
}
.contact--img {
  width: 60%;
  margin: auto;
}



@media (min-width: 600px) {
}
